<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<%= button_to "管理者ログイン", new_admin_admin_session_path, method: :get %>
<%= button_to "管理者ログアウト", destroy_admin_admin_session_path, method: :delete %>
